{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script type="text/javascript" src="{% static "/js/main.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static '/style/main.css' %}">
	<title>Project</title>
</head>
<body>
	<div class="content_wrapper">
		<!--module: gulp-rigger includes here from /partials-->
		<header>
			<div class="logo_wrapper">
				<img src="{% static "img/logo.png" %}" alt="logo-img">
			</div>
			<nav>
				<ul>
					<li><a href="{% url 'index' %}">Главная</a></li>
					<li><a href="{% url 'articles' %}">Просмотр статей</a></li>
				</ul>
			</nav>
		</header>

		<main>
			<section>
				<h1>Программа для проверки соответствия статей</h1>
				<p>Чтобы узнать, на сколько процентов введенный текст совпадает с одной из категорий новостного сайта Newslab.ru, введите текст в поле для вставки и нажмите "сравнить и найти"</p>
			</section>
			<section>
				<h3>Вставьте текст для проверки соответствия</h3>
				<form class="accordance_form" action="{% url 'predict' %}" method="POST">
					{% csrf_token %}
					<textarea name="accordance_textarea" class="accordance" placeholder="Поле для вставки текста"></textarea><br>
					<button type="submit">Сравнить</button>
				</form>
			</section>
		</main>

		<!--module: gulp-rigger includes here from /partials-->
		<footer>
			<div>
				<a href="https://vk.com/golubaga">Обратная связь</a>
			</div>
		</footer>
	</div>
</body>
</html>
